
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutChinh.cshtml";
}


<!doctype html>
<html lang="en">
<body>
  
    <!-- breadcrumb start-->
    <!-- gallery part here -->
    <section class="gallery_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <a href="~/img/gallery_1.png" class="single_gallery_part">
                        <img src="~/img/gallery_1.png" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/img/gallery_2.png" class="single_gallery_part">
                        <img src="~/img/gallery_2.png" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/img/gallery_3.png" class="single_gallery_part">
                        <img src="~/img/gallery_3.png" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/img/gallery_4.png" class="single_gallery_part">
                        <img src="~/img/gallery_4.png" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/img/gallery_5.png" class="single_gallery_part">
                        <img src="~/img/gallery_5.png" alt="">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="~/img/gallery_6.png" class="single_gallery_part">
                        <img src="~/img/gallery_6.png" alt="">
                    </a>
                </div>
                <div class="col-lg-12 text-center">
                    <a href="#" class="btn_2">Load More images</a>
                </div>
            </div>
        </div>
    </section>
    <!-- gallery part end -->

    
</body>

</html>

