USE [fifness]
GO
/****** Object:  Table [dbo].[BAIVIET]    Script Date: 1/14/2021 12:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIVIET](
	[MABV] [int] IDENTITY(1,1) NOT NULL,
	[TENBV] [ntext] NULL,
	[NOIDUNG] [ntext] NULL,
	[HINH] [varchar](100) NULL,
	[NGAYVIET] [datetime] NULL,
	[MACD] [int] NULL,
	[LANGUEGE] [char](2) NULL,
 CONSTRAINT [PK__BAIVIET__603FFF97F8BE6745] PRIMARY KEY CLUSTERED 
(
	[MABV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 1/14/2021 12:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [int] IDENTITY(1,1) NOT NULL,
	[TENCV] [nvarchar](50) NOT NULL,
	[MANV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 1/14/2021 12:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACD] [int] IDENTITY(1,1) NOT NULL,
	[TENCD] [nvarchar](100) NOT NULL,
	[MABV] [int] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK__CHUDE__603F182A1E41BB7A] PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/14/2021 12:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](100) NULL,
	[GIOITINH] [nchar](10) NULL,
	[MANV] [int] NULL,
	[MATV] [int] NULL,
	[NHANXET] [ntext] NULL,
	[HINH] [nvarchar](50) NULL,
	[MAKHID] [int] NULL,
 CONSTRAINT [PK__KHACHHAN__603F592C8FDB5017] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 1/14/2021 12:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[HINH] [nvarchar](100) NULL,
	[NOIDUNG] [nvarchar](170) NULL,
	[MAKH] [char](10) NULL,
	[GIAMGIA] [nchar](10) NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LANGUEGE]    Script Date: 1/14/2021 12:12:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LANGUEGE](
	[ID] [char](2) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[isDefault] [bit] NOT NULL,
 CONSTRAINT [PK_LANGUEGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 1/14/2021 12:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[ID] [int] NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[EMAIL] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/14/2021 12:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[GIOITINH] [nchar](10) NULL,
	[DIACHI] [nvarchar](300) NULL,
	[HINH] [nvarchar](100) NULL,
	[MAKH] [int] NULL,
	[GIOITHIEU] [nvarchar](150) NULL,
	[MACV] [int] NULL,
	[HINHmh] [varchar](100) NULL,
	[LANGUEGE] [char](2) NULL,
 CONSTRAINT [PK__NHANVIEN__603F5114012C65D1] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANGCAO]    Script Date: 1/14/2021 12:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANGCAO](
	[MAQC] [int] IDENTITY(1,1) NOT NULL,
	[BAIVIET] [ntext] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK__QUANGCAO__602379FDBBA5FED2] PRIMARY KEY CLUSTERED 
(
	[MAQC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHVIEN]    Script Date: 1/14/2021 12:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN](
	[MATV] [int] IDENTITY(1,1) NOT NULL,
	[LOAITV] [nvarchar](50) NULL,
	[MAKH] [int] NULL,
 CONSTRAINT [PK__THANHVIE__6023720985F9C22B] PRIMARY KEY CLUSTERED 
(
	[MATV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 1/14/2021 12:12:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[NHAPLAIPASSWORD] [varchar](50) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[SDT] [nchar](10) NULL,
	[ThongBao] [nchar](10) NULL,
	[MANV] [int] NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAIVIET] ON 

INSERT [dbo].[BAIVIET] ([MABV], [TENBV], [NOIDUNG], [HINH], [NGAYVIET], [MACD], [LANGUEGE]) VALUES (3, N'CLOTHES STUDY & GROCERIES STUDY: DẠY TRẺ MUA SẮM THÔNG MINH', N'Học sinh toàn Hệ thống Trường Mầm non Quốc tế KINDY CITY đang bước vào hai chủ đề học tập cuối cùng của năm học: CLOTHES STUDY & GROCERIES STUDY. Với các chủ đề này, trẻ sẽ được trang bị kiến thức cần thiết về tên gọi, chất liệu, màu.', N'bvbb2.jpg', CAST(N'2019-01-01T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[BAIVIET] ([MABV], [TENBV], [NOIDUNG], [HINH], [NGAYVIET], [MACD], [LANGUEGE]) VALUES (4, N'TRẢI NGHIỆM THẾ GIỚI ẢO 3D VỚI BẢNG TƯƠNG TÁC', N'“Nó thật xinh đẹp, sau này lớn lên con sẽ đến đó chơi” – đó là chia sẻ của một học sinh Hệ thống Trường Mầm non Quốc tế KINDY CITY sau khi được trải nghiệm thế giới ảo mô hình công viên Disney ở Mỹ. Hoạt động này đã tác động mạnh mẽ về […]', N'bvbb3.jpg', CAST(N'2019-01-01T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[BAIVIET] OFF
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [MANV]) VALUES (1, N'Quản Lý', NULL)
INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [MANV]) VALUES (2, N'Thu Ngân', NULL)
INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [MANV]) VALUES (3, N'Kế Toán', NULL)
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
SET IDENTITY_INSERT [dbo].[CHUDE] ON 

INSERT [dbo].[CHUDE] ([MACD], [TENCD], [MABV], [MANV]) VALUES (2, N'Câu chuyện của học viên', NULL, NULL)
INSERT [dbo].[CHUDE] ([MACD], [TENCD], [MABV], [MANV]) VALUES (3, N'Câu Chuyện Giảm Cân', NULL, NULL)
INSERT [dbo].[CHUDE] ([MACD], [TENCD], [MABV], [MANV]) VALUES (4, N'Chia sẻ của huấn luyện viên', NULL, NULL)
SET IDENTITY_INSERT [dbo].[CHUDE] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [DIACHI], [GIOITINH], [MANV], [MATV], [NHANXET], [HINH], [MAKHID]) VALUES (1, N'Nguyễn Thị Ánh Ngọc', CAST(N'1996-12-12T00:00:00.000' AS DateTime), N'tp Hồ Chí Minh', N'Nữ        ', NULL, NULL, N'Giáo dục mầm non', N'khbb1.jpg', NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [DIACHI], [GIOITINH], [MANV], [MATV], [NHANXET], [HINH], [MAKHID]) VALUES (2, N'Nguyễn Văn Anh', CAST(N'1997-05-23T00:00:00.000' AS DateTime), N'tp Hồ Chí Minh', N'Nam       ', NULL, NULL, N'Chăm sóc sau giờ học', N'khbb2.jpg', NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [NGAYSINH], [DIACHI], [GIOITINH], [MANV], [MATV], [NHANXET], [HINH], [MAKHID]) VALUES (3, N'Lê Nguyễn Việt Ánh', CAST(N'1995-07-29T00:00:00.000' AS DateTime), N'tp Hồ Chí Minh', N'Nữ        ', NULL, NULL, N'Ngày hội thứ 7', N'khbb3.jpg', NULL)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[KHUYENMAI] ON 

INSERT [dbo].[KHUYENMAI] ([ID], [TENKH], [HINH], [NOIDUNG], [MAKH], [GIAMGIA]) VALUES (1, N'YOGA NIDRA – PHÉP MÀU ĐƯỢC CHỨNG MINH BỞI KHOA HỌC', N'kmbb6.jpg', N'Yoga Nidra – Một món quà “độc nhất vô nhị” Bất kỳ ai trong độ tuổi trên 8 tuổi đều có thể thực hành kỹ thuật này. Kết quả của việc luyện tập yoga nidra là bộ não sẽ được ', N'KJMTBURYTF', N'Giảm 10%  ')
INSERT [dbo].[KHUYENMAI] ([ID], [TENKH], [HINH], [NOIDUNG], [MAKH], [GIAMGIA]) VALUES (2, N'Chương trình: XÉT NGHIỆM MIỄN PHÍ – KIỂM TRA SỨC ', N'kmbb1.jpg', N'XÉT NGHIỆM MIỄN PHÍ, KIỂM TRA SỨC KHỎE 💗 Dành riêng cho người thân và bạn của Hội viên Dr. Fitness.   Lần đầu tiên, 8 giờ Thứ 7 – ngày 23/11/2019, người thân và bạn của ', N'KJTGYEMYTF', N'Giảm 10%  ')
INSERT [dbo].[KHUYENMAI] ([ID], [TENKH], [HINH], [NOIDUNG], [MAKH], [GIAMGIA]) VALUES (3, N'KHÁM PHÁ BÍ MẬT TRONG LỚP YOGA ĐẶC BIỆT – VISION', N'khmbb2.jpg', N'Ngoài việc giảm căng thẳng, rèn luyện cơ thể dẻo dai thì Yoga còn giúp bạn cải thiện và nâng cao sức khỏe cho đôi mắt. Hãy cùng tìm hiểu lợi ích của lớp Yoga đặc biệt lần', N'TOPHNTVHEN', N'Giảm 5%   ')
SET IDENTITY_INSERT [dbo].[KHUYENMAI] OFF
INSERT [dbo].[LANGUEGE] ([ID], [NAME], [isDefault]) VALUES (N'en', N'Tiếng Anh', 0)
INSERT [dbo].[LANGUEGE] ([ID], [NAME], [isDefault]) VALUES (N'vi', N'Tiếng Việt', 1)
INSERT [dbo].[LOGIN] ([ID], [USERNAME], [PASSWORD], [EMAIL]) VALUES (0, N'admin', N'123', N'hong@gmail.com')
INSERT [dbo].[LOGIN] ([ID], [USERNAME], [PASSWORD], [EMAIL]) VALUES (1, N'admin', N'admin', NULL)
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDT], [GIOITINH], [DIACHI], [HINH], [MAKH], [GIOITHIEU], [MACV], [HINHmh], [LANGUEGE]) VALUES (2, N'Hồ Thị Thủy Chung', N'123456789', N'Nữ        ', N'tp. Hồ Chí Minh', N'nv01.jpg ', 1, N'GVCN Lớp Hươu Cao Cổ', NULL, N'mh1.jpg', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDT], [GIOITINH], [DIACHI], [HINH], [MAKH], [GIOITHIEU], [MACV], [HINHmh], [LANGUEGE]) VALUES (3, N'Nguyễn Thị Hà Tiên', N'1231046789', N'Nữ        ', N'tp. Hồ Chí Minh', N'nv02.jpg ', 1, N'GVCN Lớp Voi Trắng', NULL, N'mh2.jpg', NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDT], [GIOITINH], [DIACHI], [HINH], [MAKH], [GIOITHIEU], [MACV], [HINHmh], [LANGUEGE]) VALUES (4, N'Lâm Tấn Lộc', N'523456789', N'Nam       ', N'tp. Hồ Chí Minh', N'nv03.jpg ', 2, N'GVCN Lớp Voi Xám', NULL, N'mh3.jpg', NULL)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[THANHVIEN] ON 

INSERT [dbo].[THANHVIEN] ([MATV], [LOAITV], [MAKH]) VALUES (1, N'Khách Hàng', 4)
INSERT [dbo].[THANHVIEN] ([MATV], [LOAITV], [MAKH]) VALUES (2, N'Thường Niên', 3)
INSERT [dbo].[THANHVIEN] ([MATV], [LOAITV], [MAKH]) VALUES (3, N'Thân Thiết', 2)
SET IDENTITY_INSERT [dbo].[THANHVIEN] OFF
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([ID], [USERNAME], [PASSWORD], [NHAPLAIPASSWORD], [HOTEN], [DIACHI], [EMAIL], [SDT], [ThongBao], [MANV], [TRANGTHAI]) VALUES (1, N'admin', N'admin', N'admin', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[USER] ([ID], [USERNAME], [PASSWORD], [NHAPLAIPASSWORD], [HOTEN], [DIACHI], [EMAIL], [SDT], [ThongBao], [MANV], [TRANGTHAI]) VALUES (3, N'hong', N'hong123', N'hong123', N'hong', N'tphcm', N'hong@gmail.com', N'1235648952', NULL, NULL, NULL)
INSERT [dbo].[USER] ([ID], [USERNAME], [PASSWORD], [NHAPLAIPASSWORD], [HOTEN], [DIACHI], [EMAIL], [SDT], [ThongBao], [MANV], [TRANGTHAI]) VALUES (4, N'ha', N'ha123456', N'ha123456', N'ha', N'tphcm', N'ha@gmail.com', N'4403257891', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[USER] OFF
ALTER TABLE [dbo].[BAIVIET] ADD  CONSTRAINT [DF_BAIVIET_LANGUEGE]  DEFAULT ((0)) FOR [LANGUEGE]
GO
ALTER TABLE [dbo].[LANGUEGE] ADD  CONSTRAINT [DF_LANGUEGE_isDefault]  DEFAULT ((0)) FOR [isDefault]
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_CHUDE] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUDE] ([MACD])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_CHUDE]
GO
ALTER TABLE [dbo].[BAIVIET]  WITH CHECK ADD  CONSTRAINT [FK_BAIVIET_LANGUEGE] FOREIGN KEY([LANGUEGE])
REFERENCES [dbo].[LANGUEGE] ([ID])
GO
ALTER TABLE [dbo].[BAIVIET] CHECK CONSTRAINT [FK_BAIVIET_LANGUEGE]
GO
ALTER TABLE [dbo].[CHUDE]  WITH CHECK ADD  CONSTRAINT [FK_CHUDE_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CHUDE] CHECK CONSTRAINT [FK_CHUDE_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_KHUYENMAI] FOREIGN KEY([MAKHID])
REFERENCES [dbo].[KHUYENMAI] ([ID])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_KHUYENMAI]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[QUANGCAO]  WITH CHECK ADD  CONSTRAINT [FK_QUANGCAO_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[QUANGCAO] CHECK CONSTRAINT [FK_QUANGCAO_NHANVIEN]
GO
ALTER TABLE [dbo].[THANHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_THANHVIEN_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[THANHVIEN] CHECK CONSTRAINT [FK_THANHVIEN_KHACHHANG]
GO
